node-red/flows.json
[{"id":"2665c238.dd059e","type":"tab","label":"Notifications ","disabled":false,"info":""},{"id":"d86acce2.e38d1","type":"tab","label":"Spotify Automation","disabled":false,"info":""},{"id":"28e53c14.b42424","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"6b98a36d.704b0c","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"d319611b.24f9e","type":"server","name":"Home Assistant","addon":true},{"id":"33eb35bc.c33bea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b30763a8.e3f5","type":"ui_group","name":"Default","tab":"33eb35bc.c33bea","order":1,"disp":true,"width":"6","collapse":false},{"id":"2fd4913b.a9f02e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a661f859.8644a8","type":"server","name":"HA - Default","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"dadf4357.b8875","type":"api-call-service","z":"2665c238.dd059e","name":"Notify","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":171,"wires":[[]]},{"id":"9b92a775.f7f718","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":251,"wires":[[]]},{"id":"af10219e.5dfd","type":"debug","z":"2665c238.dd059e","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":111,"wires":[]},{"id":"abea3b6c.433318","type":"api-current-state","z":"2665c238.dd059e","name":"Chance of Rain","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"80","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.wupws_precip_chance_1d","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":160,"y":180,"wires":[["e962660d.254628"],[]]},{"id":"2338085d.7237e8","type":"inject","z":"2665c238.dd059e","name":"Checking every 15 minutes","props":[{"p":"payload"}],"repeat":"","crontab":"*/15 5-16 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":100,"wires":[["abea3b6c.433318"]]},{"id":"298bb6f8.a6411a","type":"comment","z":"2665c238.dd059e","name":"Notifies when rain is predicted","info":"","x":180,"y":51,"wires":[]},{"id":"a9df4400.604768","type":"api-current-state","z":"2665c238.dd059e","name":"Recycling Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_recycling_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":424,"wires":[["e31cac5.b5ee85","103ebe82.3d7f11","bf01fb01.e7a7c8"],[]]},{"id":"2c9aacc5.ad36e4","type":"inject","z":"2665c238.dd059e","name":"Checking every Tuesday","props":[{"p":"payload"}],"repeat":"","crontab":"05 17 * * 2","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":544,"wires":[["a23872bd.ac02b"]]},{"id":"e31cac5.b5ee85","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"{\"message\":\"Recycling Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":496,"wires":[[]]},{"id":"da7a4f61.5f842","type":"inject","z":"2665c238.dd059e","name":"Tester ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":500,"wires":[["a23872bd.ac02b"]]},{"id":"6b119348.867e5c","type":"api-current-state","z":"2665c238.dd059e","name":"Green Waste Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_greenwaste_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":664,"wires":[["1c935705.a18199","be7ee1d7.463f8","360c6177.2326be"],[]]},{"id":"1c935705.a18199","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":576,"wires":[[]]},{"id":"be7ee1d7.463f8","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"{ \"message\": \" Green Waste Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":724,"wires":[[]]},{"id":"103ebe82.3d7f11","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":416,"wires":[[]]},{"id":"93b3b3e5.8438b","type":"comment","z":"2665c238.dd059e","name":"Notifies when bins need to go to road","info":"","x":170,"y":340,"wires":[]},{"id":"360c6177.2326be","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":644,"wires":[[]]},{"id":"bf01fb01.e7a7c8","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":364,"wires":[[]]},{"id":"a23872bd.ac02b","type":"api-call-service","z":"2665c238.dd059e","name":"Refresh Garbage Stats","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_act_garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":200,"y":600,"wires":[["67ba7de3.3966f4"]]},{"id":"67ba7de3.3966f4","type":"delay","z":"2665c238.dd059e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":760,"wires":[["6b119348.867e5c","a9df4400.604768"]]},{"id":"3cea3647.ec448a","type":"change","z":"2665c238.dd059e","name":"Update Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"entity_id\":\"media_player.office_speaker\",\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":251,"wires":[["9b92a775.f7f718"]]},{"id":"ca324b0.47619b8","type":"change","z":"2665c238.dd059e","name":"Update Message for iPhone","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":191,"wires":[["dadf4357.b8875"]]},{"id":"911944b4.aef5b8","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":180,"wires":[["1f97f58f.b6b36a"]]},{"id":"7e1a2e15.9ceb4","type":"api-call-service","z":"d86acce2.e38d1","name":"Select Speaker as Source","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"select_source","entityId":"media_player.yamaha_study_speaker_main","data":"{\"source\":\"media_player.spotify_david_bryant\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":280,"wires":[["bd4f6d81.6e66a"]]},{"id":"b7cacf70.9c879","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Speaker","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":100,"wires":[["911944b4.aef5b8"]]},{"id":"e69733ab.5330e","type":"api-call-service","z":"d86acce2.e38d1","name":"Play Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_play","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":400,"wires":[[]]},{"id":"bd4f6d81.6e66a","type":"api-call-service","z":"d86acce2.e38d1","name":"Play Source","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_play","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":400,"wires":[["e69733ab.5330e"]]},{"id":"63670e5f.88ee","type":"api-call-service","z":"d86acce2.e38d1","name":"Stop Spotify and Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_stop","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":651,"wires":[["ed5c3d38.9fc68"]]},{"id":"2713e631.73da1a","type":"inject","z":"d86acce2.e38d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":651,"wires":[["337071e5.67ef0e"]]},{"id":"cb3511f7.d2354","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":280,"wires":[["7e1a2e15.9ceb4"]]},{"id":"1f97f58f.b6b36a","type":"delay","z":"d86acce2.e38d1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["cb3511f7.d2354"]]},{"id":"9e7dc131.a06d2","type":"api-call-service","z":"d86acce2.e38d1","name":"Stop Spotify and Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_stop","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":731,"wires":[[]]},{"id":"ed5c3d38.9fc68","type":"delay","z":"d86acce2.e38d1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":238,"y":731.7999877929688,"wires":[["9e7dc131.a06d2"]]},{"id":"aeb866f4.07c558","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.study_speaker","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["b7cacf70.9c879"]]},{"id":"aa2d6465.426c58","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":100,"wires":[["aeb866f4.07c558"]]},{"id":"337071e5.67ef0e","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.study_speaker_off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":591,"wires":[["63670e5f.88ee"]]},{"id":"836b7114.e2a76","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":230,"y":591,"wires":[["337071e5.67ef0e"]]},{"id":"bca75da3.3d1f3","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":270,"y":900,"wires":[["572668b1.fd1968"]]},{"id":"572668b1.fd1968","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"calendar.test_work","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":900,"wires":[["33ceb04e.10146"]]},{"id":"33ceb04e.10146","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"\"on\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":900,"wires":[[]]},{"id":"7f70b93.83c6f48","type":"server-state-changed","z":"2665c238.dd059e","name":"","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ewelink_ms01_ecec6622_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":350,"y":1020,"wires":[["61161d6c.d5bd24"],[]]},{"id":"a1ee7c32.ed623","type":"api-call-service","z":"2665c238.dd059e","name":"Notify","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1160,"wires":[[]]},{"id":"83e6ef65.35a1","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1240,"wires":[[]]},{"id":"6f59a89b.32fc28","type":"debug","z":"2665c238.dd059e","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1100,"wires":[]},{"id":"d3a16b5c.0ba578","type":"change","z":"2665c238.dd059e","name":"Update Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"entity_id\":\"media_player.office_speaker\",\t   \"message\": \"Someone in the Garage\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1240,"wires":[["83e6ef65.35a1"]]},{"id":"61161d6c.d5bd24","type":"change","z":"2665c238.dd059e","name":"Update Message for iPhone","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"message\": \"Someone in the garage \" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1180,"wires":[["a1ee7c32.ed623"]]},{"id":"c6c47c88.0cc2e","type":"server-state-changed","z":"d86acce2.e38d1","name":"Check if work no longer scheduled","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.test_work","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":20,"wires":[["b7cacf70.9c879","bc28bf1c.89a6b"],[]]},{"id":"bc28bf1c.89a6b","type":"debug","z":"d86acce2.e38d1","name":"debugger","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":640,"y":40,"wires":[]},{"id":"bafbcdc8.365f1","type":"server-state-changed","z":"28e53c14.b42424","name":"Hollys Room Motion Sensor","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ewelink_ms01_047ecd22_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":100,"wires":[["4ca86f0f.c9462"],[]]},{"id":"cfa02197.009db","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":100,"wires":[["60e73e72.a2b7c","a986aa48.81fb78"],[]]},{"id":"60e73e72.a2b7c","type":"api-call-service","z":"28e53c14.b42424","name":"Turn on Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":40,"wires":[[]]},{"id":"6de5650d.1bfccc","type":"api-call-service","z":"28e53c14.b42424","name":"Turn off Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":120,"wires":[[]]},{"id":"48e997c8.240118","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":500,"y":360,"wires":[["60e73e72.a2b7c"]]},{"id":"a986aa48.81fb78","type":"delay","z":"28e53c14.b42424","name":"Delay","pauseType":"delay","timeout":"160","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":200,"wires":[["6de5650d.1bfccc"]]},{"id":"411bd05d.1bacd","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":630,"y":380,"wires":[["6de5650d.1bfccc"]]},{"id":"4ca86f0f.c9462","type":"time-range-switch","z":"28e53c14.b42424","name":"Only at night","lat":"-35.26789","lon":"149.1364","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":240,"y":300,"wires":[["cfa02197.009db"],[]]},{"id":"e962660d.254628","type":"api-current-state","z":"2665c238.dd059e","name":"Is Raining?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.wupws_preciptotal","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":450,"y":140,"wires":[["ca324b0.47619b8","3cea3647.ec448a"],[]]},{"id":"1b9cbe3.201c342","type":"comment","z":"28e53c14.b42424","name":"Motion Sensor Light in Hollys Bedroom","info":"","x":210,"y":60,"wires":[]},{"id":"98db42b2.9eb0c","type":"switch","z":"6b98a36d.704b0c","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":160,"wires":[["e4a58e8f.e72ad","64a24a48.0b00d4"],[]]},{"id":"e4a58e8f.e72ad","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":100,"wires":[[]]},{"id":"e477a330.2e2a7","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":180,"wires":[[]]},{"id":"a3621b47.bd0b38","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":570,"y":340,"wires":[["e4a58e8f.e72ad"]]},{"id":"64a24a48.0b00d4","type":"delay","z":"6b98a36d.704b0c","name":"Delay","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":260,"wires":[["e477a330.2e2a7"]]},{"id":"a5b0e2c5.3bef9","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":650,"y":380,"wires":[["e477a330.2e2a7"]]},{"id":"d21fccc7.4bfff","type":"server-state-changed","z":"6b98a36d.704b0c","name":"Check Calendar","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.alarms","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":80,"wires":[["98db42b2.9eb0c"],[]]},{"id":"9e18dadb.894bc8","type":"api-call-service","z":"6b98a36d.704b0c","name":"Set vol of Spotify","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"volume_set","entityId":"media_player.spotify_david_bryant","data":"{\"volume_level\":\"0.20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":320,"wires":[["9f6ab95f.b8bd38"]]},{"id":"53bff502.72512c","type":"api-call-service","z":"6b98a36d.704b0c","name":"Play Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"play_media","entityId":"media_player.spotify_david_bryant","data":"{\"media_content_type\":\"playlist\",\"media_content_id\":\"spotify:playlist:37i9dQZF1E4qeJ0tf6mP9P\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":480,"wires":[[]]},{"id":"29e8be2d.c99d72","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":180,"wires":[["42202d2c.13a0a4"]]},{"id":"15ddb143.a2560f","type":"api-call-service","z":"6b98a36d.704b0c","name":"Select Speaker as Source","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"select_source","entityId":"media_player.spotify_david_bryant","data":"{\"source\":\"media_player.rx_v685_944e30_zone_2\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":400,"wires":[["53bff502.72512c"]]},{"id":"42202d2c.13a0a4","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":160,"y":240,"wires":[["afb7f7.52eb6808"]]},{"id":"afb7f7.52eb6808","type":"delay","z":"6b98a36d.704b0c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":260,"wires":[["9e18dadb.894bc8"]]},{"id":"95e261cb.892b8","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.office_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":520,"wires":[["15ddb143.a2560f"]]},{"id":"9f6ab95f.b8bd38","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Yamaha Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":460,"wires":[["95e261cb.892b8"]]},{"id":"7c52bcf0.2cce34","type":"api-call-service","z":"6b98a36d.704b0c","name":"Stop Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":620,"wires":[[]]},{"id":"ec65d2d9.fad49","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":620,"wires":[["7c52bcf0.2cce34","7c9e4b7c.3075e4"]]},{"id":"7c9e4b7c.3075e4","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Yamaha Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":680,"wires":[[]]}]
