node-red/flows.json
[{"id":"2665c238.dd059e","type":"tab","label":"Notifications ","disabled":false,"info":""},{"id":"d86acce2.e38d1","type":"tab","label":"Spotify Automation","disabled":false,"info":""},{"id":"d319611b.24f9e","type":"server","name":"Home Assistant","addon":true},{"id":"33eb35bc.c33bea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b30763a8.e3f5","type":"ui_group","name":"Default","tab":"33eb35bc.c33bea","order":1,"disp":true,"width":"6","collapse":false},{"id":"2fd4913b.a9f02e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a661f859.8644a8","type":"server","name":"HA - Default","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"dadf4357.b8875","type":"api-call-service","z":"2665c238.dd059e","name":"Notify","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":171,"wires":[[]]},{"id":"9b92a775.f7f718","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":251,"wires":[[]]},{"id":"af10219e.5dfd","type":"debug","z":"2665c238.dd059e","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":111,"wires":[]},{"id":"abea3b6c.433318","type":"api-current-state","z":"2665c238.dd059e","name":"Chance of Rain","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"80","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.wupws_precip_chance_1d","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":160,"y":180,"wires":[["3cea3647.ec448a","ca324b0.47619b8"],[]]},{"id":"2338085d.7237e8","type":"inject","z":"2665c238.dd059e","name":"Checking every 15 minutes","props":[{"p":"payload"}],"repeat":"","crontab":"*/15 5-16 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":100,"wires":[["abea3b6c.433318"]]},{"id":"298bb6f8.a6411a","type":"comment","z":"2665c238.dd059e","name":"Notifies when rain is predicted","info":"","x":180,"y":51,"wires":[]},{"id":"a9df4400.604768","type":"api-current-state","z":"2665c238.dd059e","name":"Recycling Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_recycling_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":424,"wires":[["e31cac5.b5ee85","103ebe82.3d7f11","bf01fb01.e7a7c8"],[]]},{"id":"2c9aacc5.ad36e4","type":"inject","z":"2665c238.dd059e","name":"Checking every Tuesday","props":[{"p":"payload"}],"repeat":"","crontab":"05 17 * * 2","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":544,"wires":[["a23872bd.ac02b"]]},{"id":"e31cac5.b5ee85","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"{\"message\":\"Recycling Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":496,"wires":[[]]},{"id":"da7a4f61.5f842","type":"inject","z":"2665c238.dd059e","name":"Tester ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":500,"wires":[["a23872bd.ac02b"]]},{"id":"6b119348.867e5c","type":"api-current-state","z":"2665c238.dd059e","name":"Green Waste Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_greenwaste_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":664,"wires":[["1c935705.a18199","be7ee1d7.463f8","360c6177.2326be"],[]]},{"id":"1c935705.a18199","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":576,"wires":[[]]},{"id":"be7ee1d7.463f8","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"{ \"message\": \" Green Waste Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":724,"wires":[[]]},{"id":"103ebe82.3d7f11","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":475,"y":416,"wires":[[]]},{"id":"93b3b3e5.8438b","type":"comment","z":"2665c238.dd059e","name":"Notifies when bins need to go to road","info":"","x":170,"y":340,"wires":[]},{"id":"360c6177.2326be","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":644,"wires":[[]]},{"id":"bf01fb01.e7a7c8","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":364,"wires":[[]]},{"id":"a23872bd.ac02b","type":"api-call-service","z":"2665c238.dd059e","name":"Refresh Garbage Stats","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_act_garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":200,"y":600,"wires":[["67ba7de3.3966f4"]]},{"id":"67ba7de3.3966f4","type":"delay","z":"2665c238.dd059e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":760,"wires":[["6b119348.867e5c","a9df4400.604768"]]},{"id":"3cea3647.ec448a","type":"change","z":"2665c238.dd059e","name":"Update Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"entity_id\":\"media_player.office_speaker\",\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":251,"wires":[["9b92a775.f7f718"]]},{"id":"ca324b0.47619b8","type":"change","z":"2665c238.dd059e","name":"Update Message for iPhone","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":191,"wires":[["dadf4357.b8875"]]},{"id":"911944b4.aef5b8","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":180,"wires":[["1f97f58f.b6b36a"]]},{"id":"7e1a2e15.9ceb4","type":"api-call-service","z":"d86acce2.e38d1","name":"Select Speaker as Source","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"select_source","entityId":"media_player.yamaha_study_speaker_main","data":"{\"source\":\"media_player.spotify_david_bryant\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":280,"wires":[["bd4f6d81.6e66a"]]},{"id":"b7cacf70.9c879","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Speaker","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":100,"wires":[["911944b4.aef5b8"]]},{"id":"e69733ab.5330e","type":"api-call-service","z":"d86acce2.e38d1","name":"Play Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_play","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":400,"wires":[[]]},{"id":"bd4f6d81.6e66a","type":"api-call-service","z":"d86acce2.e38d1","name":"Play Source","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_play","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":400,"wires":[["e69733ab.5330e"]]},{"id":"63670e5f.88ee","type":"api-call-service","z":"d86acce2.e38d1","name":"Stop Spotify and Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_stop","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":651,"wires":[["ed5c3d38.9fc68"]]},{"id":"2713e631.73da1a","type":"inject","z":"d86acce2.e38d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":651,"wires":[[]]},{"id":"cb3511f7.d2354","type":"api-call-service","z":"d86acce2.e38d1","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":280,"wires":[["7e1a2e15.9ceb4"]]},{"id":"1f97f58f.b6b36a","type":"delay","z":"d86acce2.e38d1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["cb3511f7.d2354"]]},{"id":"9e7dc131.a06d2","type":"api-call-service","z":"d86acce2.e38d1","name":"Stop Spotify and Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"media_stop","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":731,"wires":[[]]},{"id":"ed5c3d38.9fc68","type":"delay","z":"d86acce2.e38d1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":238,"y":731.7999877929688,"wires":[["9e7dc131.a06d2"]]},{"id":"aeb866f4.07c558","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.study_speaker","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["b7cacf70.9c879"]]},{"id":"aa2d6465.426c58","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":130,"y":100,"wires":[["aeb866f4.07c558"]]},{"id":"337071e5.67ef0e","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.study_speaker_off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":591,"wires":[["63670e5f.88ee"]]},{"id":"836b7114.e2a76","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":230,"y":591,"wires":[["337071e5.67ef0e"]]},{"id":"bca75da3.3d1f3","type":"server-events","z":"d86acce2.e38d1","name":"","server":"d319611b.24f9e","event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":270,"y":900,"wires":[["572668b1.fd1968"]]},{"id":"572668b1.fd1968","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"calendar.test_work","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":900,"wires":[["33ceb04e.10146"]]},{"id":"39fe1bb3.013294","type":"debug","z":"d86acce2.e38d1","name":"debugger","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":450,"y":1020,"wires":[]},{"id":"33ceb04e.10146","type":"switch","z":"d86acce2.e38d1","name":"","property":"payload.event.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"\"on\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":900,"wires":[["39fe1bb3.013294","b7cacf70.9c879"]]}]