node-red/flows.json
[{"id":"2665c238.dd059e","type":"tab","label":"Notifications ","disabled":false,"info":""},{"id":"28e53c14.b42424","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"6b98a36d.704b0c","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"4f8b365.b3a0ec8","type":"tab","label":"EV Charger / Towel Rail","disabled":false,"info":""},{"id":"fad25e8f.008bc","type":"tab","label":"Electric Blanket","disabled":false,"info":""},{"id":"be924799.49b558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"68c9280a27c69a59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e2df09ef8015d95","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c156c0babae29eff","type":"tab","label":"SpeedTest","disabled":false,"info":"","env":[]},{"id":"5c70d6bed75d729a","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"f5369d5f659898e4","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"d319611b.24f9e","type":"server","name":"Home Assistant","addon":true},{"id":"33eb35bc.c33bea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b30763a8.e3f5","type":"ui_group","name":"Default","tab":"33eb35bc.c33bea","order":1,"disp":true,"width":"6","collapse":false},{"id":"2fd4913b.a9f02e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":7,"cy":7,"px":0,"py":0}}},{"id":"a661f859.8644a8","type":"server","name":"HA - Default","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"59344673c9990c14","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"f4369982331b2975","type":"ui_group","name":"Group 1 Test","tab":"59344673c9990c14","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"d277d7e0.b4f288","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"c75798f0.9eb148","type":"server","name":"Home Assistant Synology","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|ON|home|open","connectionDelay":true,"cacheJson":true},{"id":"dadf4357.b8875","type":"api-call-service","z":"2665c238.dd059e","name":"Notify","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_david_bryants_iphone_13","entityId":"","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":670,"y":171,"wires":[[]]},{"id":"9b92a775.f7f718","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"tts.cloud_say","entityId":"media_player.family_room_display","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":260,"wires":[[]]},{"id":"af10219e.5dfd","type":"debug","z":"2665c238.dd059e","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":100,"wires":[]},{"id":"abea3b6c.433318","type":"api-current-state","z":"2665c238.dd059e","name":"Chance of Rain","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"80","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.precip_chance_today","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":160,"y":180,"wires":[["ca324b0.47619b8","3cea3647.ec448a"],[]]},{"id":"2338085d.7237e8","type":"inject","z":"2665c238.dd059e","name":"Checking every 15 minutes","props":[{"p":"payload"}],"repeat":"","crontab":"*/15 5-16 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":100,"wires":[[]]},{"id":"298bb6f8.a6411a","type":"comment","z":"2665c238.dd059e","name":"Notifies when rain is predicted","info":"","x":180,"y":51,"wires":[]},{"id":"a9df4400.604768","type":"api-current-state","z":"2665c238.dd059e","name":"Recycling Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_recycling_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":424,"wires":[["e31cac5.b5ee85","103ebe82.3d7f11","bf01fb01.e7a7c8"],[]]},{"id":"2c9aacc5.ad36e4","type":"inject","z":"2665c238.dd059e","name":"Checking every Tuesday","props":[{"p":"payload"}],"repeat":"","crontab":"05 15 * * 2","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":540,"wires":[["a23872bd.ac02b"]]},{"id":"e31cac5.b5ee85","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.family_room_display","data":"{\"message\":\"Recycling Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":490,"y":480,"wires":[[]]},{"id":"da7a4f61.5f842","type":"inject","z":"2665c238.dd059e","name":"Tester ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":500,"wires":[["a23872bd.ac02b"]]},{"id":"6b119348.867e5c","type":"api-current-state","z":"2665c238.dd059e","name":"Green Waste Bin","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.act_greenwaste_tomorrow","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":664,"wires":[["1c935705.a18199","be7ee1d7.463f8","360c6177.2326be"],[]]},{"id":"1c935705.a18199","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":475,"y":576,"wires":[[]]},{"id":"be7ee1d7.463f8","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"cloud_say","entityId":"media_player.family_room_display","data":"{ \"message\": \" Green Waste Bin needs to go out to the road\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":470,"y":724,"wires":[[]]},{"id":"103ebe82.3d7f11","type":"api-call-service","z":"2665c238.dd059e","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":475,"y":416,"wires":[[]]},{"id":"93b3b3e5.8438b","type":"comment","z":"2665c238.dd059e","name":"Notifies when bins need to go to road","info":"","x":170,"y":340,"wires":[]},{"id":"360c6177.2326be","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{ \"message\": \"Green Waste Bin needs to go out\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":644,"wires":[[]]},{"id":"bf01fb01.e7a7c8","type":"api-call-service","z":"2665c238.dd059e","name":"Notify Wen","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_wendys_phone","entityId":"","data":"{\"message\":\"Take Recycling Bin to the road\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":364,"wires":[[]]},{"id":"a23872bd.ac02b","type":"api-call-service","z":"2665c238.dd059e","name":"Refresh Garbage Stats","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.check_act_garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":200,"y":600,"wires":[["67ba7de3.3966f4"]]},{"id":"67ba7de3.3966f4","type":"delay","z":"2665c238.dd059e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":170,"y":760,"wires":[["6b119348.867e5c","a9df4400.604768"]]},{"id":"3cea3647.ec448a","type":"change","z":"2665c238.dd059e","name":"Update Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"entity_id\":\"media_player.office_speaker\",\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":260,"wires":[["9b92a775.f7f718"]]},{"id":"ca324b0.47619b8","type":"change","z":"2665c238.dd059e","name":"Update Message for iPhone","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"message\": \"Weather Alert. It could rain. There is a \" & payload &\t   \" \" &\t \"percent chance\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["dadf4357.b8875"]]},{"id":"e962660d.254628","type":"api-current-state","z":"2665c238.dd059e","name":"Is Not Raining?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.event_rain_rate_2","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":460,"y":100,"wires":[["abea3b6c.433318"],[]]},{"id":"c9743648cfdb9cc4","type":"comment","z":"2665c238.dd059e","name":"Notifies when Camera motion triggered","info":"","x":170,"y":880,"wires":[]},{"id":"639c6adb3170073b","type":"inject","z":"2665c238.dd059e","name":"Tester ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":940,"wires":[["366fa6a313652e53"]]},{"id":"2d13d9580940cbf7","type":"api-call-service","z":"2665c238.dd059e","name":"Stream Camera","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"camera","service":"play_stream","entityId":"camera.front_camera","data":"{\"media_player\":\"media_player.study_display\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":140,"y":1000,"wires":[["27eff656e8b345c7"]]},{"id":"366fa6a313652e53","type":"api-call-service","z":"2665c238.dd059e","name":"Turn off Stream Camera","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.study_display","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":550,"y":960,"wires":[[]]},{"id":"27eff656e8b345c7","type":"delay","z":"2665c238.dd059e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":980,"wires":[["366fa6a313652e53"]]},{"id":"a82d55ccdda40ea5","type":"trigger-state","z":"2665c238.dd059e","name":"Check Front Door Motion Cam","server":"d319611b.24f9e","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_4_porch_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":1180,"wires":[["a71f087ac441d555"],[]]},{"id":"1b97cf8934fde315","type":"api-call-service","z":"2665c238.dd059e","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"cloud_say","entityId":"media_player.study_display","data":"{\"message\":\" Someone in the front yard\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1220,"wires":[["a71f087ac441d555"]]},{"id":"44388a47f5fa6291","type":"inject","z":"2665c238.dd059e","name":"Tester ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1280,"wires":[["1b97cf8934fde315"]]},{"id":"a71f087ac441d555","type":"delay","z":"2665c238.dd059e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":120,"y":1080,"wires":[["2d13d9580940cbf7"]]},{"id":"76247c67.cd84b4","type":"server-state-changed","z":"28e53c14.b42424","name":"Spare Room Motion Sensor","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ewelink_ms01_d680cd22_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":180,"wires":[["87aa37a09a18257a","2bd197efc62357a3"],[]]},{"id":"bc55875e.f4fc48","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":140,"wires":[["6148a4dc.8ad03c","3e527d6ab89ac35d"],[]]},{"id":"558c1940.a58208","type":"api-call-service","z":"28e53c14.b42424","name":"Turn on Spare Bedroom Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.osram_light_spare_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":910,"y":60,"wires":[[]]},{"id":"d2da6076.343b7","type":"api-call-service","z":"28e53c14.b42424","name":"Turn off Spare Bedroom Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.osram_light_spare_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":910,"y":180,"wires":[[]]},{"id":"de64ceb2.8783f","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":650,"y":40,"wires":[["558c1940.a58208"]]},{"id":"6148a4dc.8ad03c","type":"delay","z":"28e53c14.b42424","name":"15m Delay","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":220,"wires":[["c659285d1da0ece3"]]},{"id":"f0efe09f.96bb1","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":750,"y":300,"wires":[["d2da6076.343b7"]]},{"id":"d9664e33.20358","type":"comment","z":"28e53c14.b42424","name":"Motion Sensor Light in Spare Bedroom","info":"","x":170,"y":40,"wires":[]},{"id":"7823db3b7bf7852f","type":"comment","z":"28e53c14.b42424","name":"Motion Sensor Light in Garage","info":"","x":160,"y":500,"wires":[]},{"id":"3902b6dd68bcb5ab","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"str","x":570,"y":520,"wires":[["48395a4b675934d0"]]},{"id":"ff57b976c213229a","type":"server-state-changed","z":"28e53c14.b42424","name":"Hollys Room Motion Sensor","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_5_holly_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1160,"wires":[["714ad2e25d03609d","f4193fe82fe4a341"],[]]},{"id":"63c482f66b57e99d","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":980,"wires":[["aaf589734b111db9","7a3c7b040eb542ad"],[]]},{"id":"0163645eecd5130d","type":"api-call-service","z":"28e53c14.b42424","name":"Turn on Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.osram_light_holly","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":910,"y":940,"wires":[[]]},{"id":"37403d6b051cea66","type":"api-call-service","z":"28e53c14.b42424","name":"Turn off Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.osram_light_holly","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":910,"y":1060,"wires":[[]]},{"id":"4375471c1ec0d47c","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":830,"y":1200,"wires":[["37403d6b051cea66"]]},{"id":"714ad2e25d03609d","type":"time-range-switch","z":"28e53c14.b42424","name":"Only at late night","lat":"-35.26789","lon":"149.1364","startTime":"23:00","endTime":"sunrise","startOffset":0,"endOffset":"0","x":230,"y":1040,"wires":[["63c482f66b57e99d"],[]]},{"id":"857b72b5fe6529db","type":"comment","z":"28e53c14.b42424","name":"Motion Sensor Light in Hollys Bedroom","info":"","x":170,"y":920,"wires":[]},{"id":"aaf589734b111db9","type":"api-current-state","z":"28e53c14.b42424","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.osram_light_holly","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":940,"wires":[["0163645eecd5130d"],[]]},{"id":"2285296c6e2fcf21","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":210,"y":980,"wires":[["63c482f66b57e99d"]]},{"id":"47058f57d47d672c","type":"api-current-state","z":"28e53c14.b42424","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.osram_light_holly","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":1060,"wires":[["37403d6b051cea66"],[]]},{"id":"f4193fe82fe4a341","type":"time-range-switch","z":"28e53c14.b42424","name":"Only at early night","lat":"-35.26789","lon":"149.1364","startTime":"sunset","endTime":"23:00","startOffset":0,"endOffset":"0","x":230,"y":1280,"wires":[["807e1ef5d7539441"],[]]},{"id":"807e1ef5d7539441","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1320,"wires":[["aaf589734b111db9","06f0dc936d0c632d"],[]]},{"id":"005e36b726afbfe0","type":"comment","z":"28e53c14.b42424","name":"Light goes on for 5 mins after entry","info":"","x":500,"y":1240,"wires":[]},{"id":"cfd457f08b6e8ae7","type":"comment","z":"28e53c14.b42424","name":"Light goes on for 15 secs","info":"","x":430,"y":1120,"wires":[]},{"id":"94d1ae6005661456","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":1360,"wires":[["807e1ef5d7539441"]]},{"id":"3e527d6ab89ac35d","type":"api-current-state","z":"28e53c14.b42424","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.osram_light_spare_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":100,"wires":[["558c1940.a58208"],[]]},{"id":"c659285d1da0ece3","type":"api-current-state","z":"28e53c14.b42424","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.osram_light_spare_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":180,"wires":[["d2da6076.343b7"],[]]},{"id":"c4ce198a09c748cb","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":710,"y":700,"wires":[["541b4e01cb5248d7"]]},{"id":"06f0dc936d0c632d","type":"delay","z":"28e53c14.b42424","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":1300,"wires":[["47058f57d47d672c"]]},{"id":"7a3c7b040eb542ad","type":"delay","z":"28e53c14.b42424","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":1040,"wires":[["47058f57d47d672c"]]},{"id":"87aa37a09a18257a","type":"time-range-switch","z":"28e53c14.b42424","name":"Only at late night","lat":"-35.26789","lon":"149.1364","startTime":"23:00","endTime":"sunrise","startOffset":0,"endOffset":"0","x":250,"y":100,"wires":[[],[]]},{"id":"2bd197efc62357a3","type":"time-range-switch","z":"28e53c14.b42424","name":"Only at early night","lat":"-35.26789","lon":"149.1364","startTime":"sunset","endTime":"23:00","startOffset":0,"endOffset":"0","x":210,"y":280,"wires":[[],[]]},{"id":"68457a108b36916f","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":360,"wires":[["d8edf9fc0d35f5b9","3e527d6ab89ac35d"],[]]},{"id":"65325d68087feb69","type":"comment","z":"28e53c14.b42424","name":"Light goes on for 5 mins after entry","info":"","x":480,"y":280,"wires":[]},{"id":"d8edf9fc0d35f5b9","type":"delay","z":"28e53c14.b42424","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":340,"wires":[["c659285d1da0ece3"]]},{"id":"fc50c30272bc9223","type":"comment","z":"28e53c14.b42424","name":"Light goes on for 15 secs","info":"","x":450,"y":60,"wires":[]},{"id":"d3f9e1cd5b7ecdce","type":"comment","z":"28e53c14.b42424","name":"Motion Sensor Light in Study","info":"","x":120,"y":1440,"wires":[]},{"id":"f4c862405960446b","type":"server-state-changed","z":"28e53c14.b42424","name":"Motion Detection","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.study_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1540,"wires":[["b334937dae518701"],[]]},{"id":"e8e988f5d475a4cf","type":"api-call-service","z":"28e53c14.b42424","name":"OFF","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.study_light_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":1580,"wires":[[]]},{"id":"45ecf39a22981aea","type":"api-call-service","z":"28e53c14.b42424","name":"ON","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.study_light_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":1460,"wires":[[]]},{"id":"b334937dae518701","type":"switch","z":"28e53c14.b42424","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1520,"wires":[["4ca4742b3e08b368","60167c1f03decc99"],[]]},{"id":"4ca4742b3e08b368","type":"api-current-state","z":"28e53c14.b42424","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.study_osram_light_light,","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":1480,"wires":[["45ecf39a22981aea"],[]]},{"id":"069edb41d82a27a3","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":1760,"wires":[["45ecf39a22981aea"]]},{"id":"28b4616b111b45de","type":"api-current-state","z":"28e53c14.b42424","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.study_osram_light_light,","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":1540,"wires":[["e8e988f5d475a4cf"],[]]},{"id":"390073c219d20e8f","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":690,"y":1700,"wires":[["e8e988f5d475a4cf"]]},{"id":"4f5cdb29690e18d0","type":"time-range-switch","z":"28e53c14.b42424","name":"Only daytime and early night","lat":"-35.26789","lon":"149.1364","startTime":"05:00","endTime":"21:00","startOffset":0,"endOffset":"0","x":160,"y":1620,"wires":[[],[]]},{"id":"25f3712401f6f204","type":"inject","z":"28e53c14.b42424","name":"Turn off at 9 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1680,"wires":[[]]},{"id":"60167c1f03decc99","type":"delay","z":"28e53c14.b42424","name":"1h Delay","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":1620,"wires":[["28b4616b111b45de"]]},{"id":"50a4050cfcef4e0f","type":"inject","z":"28e53c14.b42424","name":"Simulated detection","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":740,"wires":[["f579b9639e7a4dbb"]]},{"id":"f579b9639e7a4dbb","type":"trigger","z":"28e53c14.b42424","name":"10min","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":600,"wires":[["541b4e01cb5248d7"]]},{"id":"1275de243d67f7a0","type":"trigger-state","z":"28e53c14.b42424","name":"Motion Sensor 3 Wall","server":"d319611b.24f9e","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_3_garage_occupancy","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":620,"wires":[["abbfd7d99879ef6f"],[]]},{"id":"8a989a5267e7c054","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor_1","payload":"on","payloadType":"str","x":170,"y":400,"wires":[["abbfd7d99879ef6f"]]},{"id":"c5681c2d23f236aa","type":"inject","z":"28e53c14.b42424","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor_2","payload":"off","payloadType":"str","x":170,"y":440,"wires":[[]]},{"id":"a25b6a80a4b66fa7","type":"debug","z":"28e53c14.b42424","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"06e1e23c253edf6a","type":"trigger-state","z":"28e53c14.b42424","name":"Motion Sensor 2 Wall near fridge","server":"d319611b.24f9e","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_2_garage_occupancy","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":680,"wires":[["abbfd7d99879ef6f"],[]]},{"id":"48395a4b675934d0","type":"api-call-service","z":"28e53c14.b42424","name":"ON","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.light_switch_garage","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":520,"wires":[[]]},{"id":"541b4e01cb5248d7","type":"api-call-service","z":"28e53c14.b42424","name":"OFF","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.light_switch_garage","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":600,"wires":[[]]},{"id":"abbfd7d99879ef6f","type":"switch","z":"28e53c14.b42424","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":600,"wires":[["48395a4b675934d0","f579b9639e7a4dbb","a25b6a80a4b66fa7"],[]]},{"id":"98db42b2.9eb0c","type":"switch","z":"6b98a36d.704b0c","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":120,"wires":[["e4a58e8f.e72ad","64a24a48.0b00d4"],[]]},{"id":"e4a58e8f.e72ad","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":100,"wires":[[]]},{"id":"e477a330.2e2a7","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Holly Light","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.osram_classic_a60_w_clear_lightify_db99050a_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":180,"wires":[[]]},{"id":"a3621b47.bd0b38","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":570,"y":340,"wires":[["e4a58e8f.e72ad"]]},{"id":"64a24a48.0b00d4","type":"delay","z":"6b98a36d.704b0c","name":"Delay","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":630,"y":260,"wires":[["e477a330.2e2a7"]]},{"id":"a5b0e2c5.3bef9","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":650,"y":380,"wires":[["e477a330.2e2a7"]]},{"id":"d21fccc7.4bfff","type":"server-state-changed","z":"6b98a36d.704b0c","name":"Check Calendar","server":"d319611b.24f9e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.alarms","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":80,"wires":[["98db42b2.9eb0c"],[]]},{"id":"9e18dadb.894bc8","type":"api-call-service","z":"6b98a36d.704b0c","name":"Set vol of Spotify","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"volume_set","entityId":"media_player.spotify_david_bryant","data":"{\"volume_level\":\"0.20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":320,"wires":[["9f6ab95f.b8bd38"]]},{"id":"53bff502.72512c","type":"api-call-service","z":"6b98a36d.704b0c","name":"Play Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"play_media","entityId":"media_player.spotify_david_bryant","data":"{\"media_content_type\":\"playlist\",\"media_content_id\":\"spotify:playlist:37i9dQZF1E4qeJ0tf6mP9P\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":480,"wires":[[]]},{"id":"29e8be2d.c99d72","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":180,"wires":[["42202d2c.13a0a4"]]},{"id":"15ddb143.a2560f","type":"api-call-service","z":"6b98a36d.704b0c","name":"Select Speaker as Source","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"select_source","entityId":"media_player.spotify_david_bryant","data":"{\"source\":\"media_player.rx_v685_944e30_zone_2\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":400,"wires":[["53bff502.72512c"]]},{"id":"42202d2c.13a0a4","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":160,"y":240,"wires":[["afb7f7.52eb6808"]]},{"id":"afb7f7.52eb6808","type":"delay","z":"6b98a36d.704b0c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":260,"wires":[["9e18dadb.894bc8"]]},{"id":"95e261cb.892b8","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn on Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_on","entityId":"media_player.office_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":520,"wires":[["15ddb143.a2560f"]]},{"id":"9f6ab95f.b8bd38","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Yamaha Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":460,"wires":[["95e261cb.892b8"]]},{"id":"7c52bcf0.2cce34","type":"api-call-service","z":"6b98a36d.704b0c","name":"Stop Spotify","server":"a661f859.8644a8","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.spotify_david_bryant","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":620,"wires":[[]]},{"id":"ec65d2d9.fad49","type":"inject","z":"6b98a36d.704b0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":620,"wires":[["7c52bcf0.2cce34","7c9e4b7c.3075e4"]]},{"id":"7c9e4b7c.3075e4","type":"api-call-service","z":"6b98a36d.704b0c","name":"Turn off Yamaha Speaker","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"media_player","service":"turn_off","entityId":"media_player.yamaha_study_speaker_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":680,"wires":[[]]},{"id":"effda0bad2ec4299","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch on","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.spare_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":740,"y":240,"wires":[[]]},{"id":"04e815b27b47b018","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"David is Home","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.david_bryant","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":260,"wires":[["03203b5db461266f","0afec998313e8f8b"],[]]},{"id":"9e62d29f9adfd7af","type":"comment","z":"4f8b365.b3a0ec8","name":"EV Charger","info":"","x":90,"y":140,"wires":[]},{"id":"3eae4bb640353ef7","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch Off","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.spare_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":750,"y":180,"wires":[[]]},{"id":"67a03e99f8b54505","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.spare_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":200,"wires":[["3eae4bb640353ef7"],[]]},{"id":"03203b5db461266f","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.spare_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":260,"wires":[["effda0bad2ec4299"],[]]},{"id":"8f3f3b815dd0edcc","type":"inject","z":"4f8b365.b3a0ec8","name":"Switch on at 10.00 pm ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["04e815b27b47b018"]]},{"id":"0afec998313e8f8b","type":"delay","z":"4f8b365.b3a0ec8","name":"9hr delay","pauseType":"delay","timeout":"9","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":200,"wires":[["67a03e99f8b54505"]]},{"id":"17fdc5b76c9c2a94","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch on","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_for_towel_rail","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":800,"y":820,"wires":[[]]},{"id":"00a05a611cd930ef","type":"inject","z":"4f8b365.b3a0ec8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":750,"y":940,"wires":[["708b7008731c8721"]]},{"id":"aa4126aa7b4f5378","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch off","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_for_towel_rail","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":700,"y":720,"wires":[[]]},{"id":"ad132de631ecf5ac","type":"inject","z":"4f8b365.b3a0ec8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":590,"y":800,"wires":[["aa4126aa7b4f5378"]]},{"id":"708b7008731c8721","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.switch_for_towel_rail","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":880,"wires":[["17fdc5b76c9c2a94"],[]]},{"id":"5cb72aa68661ccef","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.switch_for_towel_rail","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":780,"wires":[["aa4126aa7b4f5378"],[]]},{"id":"7e4e40d45b21d8c3","type":"inject","z":"4f8b365.b3a0ec8","name":"Heat at 5.00 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1040,"wires":[["dc843302cc788b2c"]]},{"id":"1f714fd677a3e336","type":"delay","z":"4f8b365.b3a0ec8","name":"2hr delay","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":200,"y":780,"wires":[["5cb72aa68661ccef"]]},{"id":"70cdf065ce30d40a","type":"inject","z":"4f8b365.b3a0ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":920,"wires":[["dc843302cc788b2c"]]},{"id":"e2ac86ee460c6acc","type":"inject","z":"4f8b365.b3a0ec8","name":"Heat at 1600","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1120,"wires":[["dc843302cc788b2c"]]},{"id":"f4e00c56c714c23e","type":"inject","z":"4f8b365.b3a0ec8","name":"Heat at 8.00 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1080,"wires":[["dc843302cc788b2c"]]},{"id":"6fcf541f0da5890a","type":"inject","z":"4f8b365.b3a0ec8","name":"Heat at 2000 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1160,"wires":[["dc843302cc788b2c"]]},{"id":"448b2bb256ed949a","type":"comment","z":"4f8b365.b3a0ec8","name":"Towel Rail in Bathroom","info":"","x":120,"y":740,"wires":[]},{"id":"dc843302cc788b2c","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Family is Home","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bryant_family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":900,"wires":[["9946cd9976383a26"],[]]},{"id":"ec6f83ba4d112ac1","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"OFF","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.spare_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":580,"wires":[[]]},{"id":"594b01bf6390ef40","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.spare_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":580,"wires":[["ec6f83ba4d112ac1"],[]]},{"id":"bd62520532b50531","type":"inject","z":"4f8b365.b3a0ec8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":370,"y":640,"wires":[["594b01bf6390ef40"]]},{"id":"1122115026eaa955","type":"comment","z":"4f8b365.b3a0ec8","name":"EV Charger Switch","info":"","x":110,"y":540,"wires":[]},{"id":"afd649463342b7ca","type":"inject","z":"4f8b365.b3a0ec8","name":"EV Switch off at 1700","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":580,"wires":[["594b01bf6390ef40"]]},{"id":"51127d201aafbba9","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch on","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.spare_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":740,"y":380,"wires":[[]]},{"id":"566a0089d9b7cebe","type":"api-call-service","z":"4f8b365.b3a0ec8","name":"Switch Off","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.spare_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":750,"y":320,"wires":[[]]},{"id":"378f58677208caef","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.spare_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":340,"wires":[["566a0089d9b7cebe"],[]]},{"id":"92563ed169104441","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.spare_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":400,"wires":[["51127d201aafbba9"],[]]},{"id":"54a8c8a05deeb13d","type":"inject","z":"4f8b365.b3a0ec8","name":"Switch on at 7.05 am ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"05 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["b1b8b470c3aee47e","92563ed169104441"]]},{"id":"b1b8b470c3aee47e","type":"delay","z":"4f8b365.b3a0ec8","name":"5hr delay","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":340,"wires":[["378f58677208caef"]]},{"id":"ac2e71591ddf64e7","type":"inject","z":"4f8b365.b3a0ec8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":350,"y":420,"wires":[["378f58677208caef"]]},{"id":"9946cd9976383a26","type":"api-current-state","z":"4f8b365.b3a0ec8","name":"Check Min Temp","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"15","halt_if_type":"num","halt_if_compare":"lte","override_topic":false,"entity_id":"sensor.low_temperature_today","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1000,"wires":[["1f714fd677a3e336","708b7008731c8721"],[]]},{"id":"2b89738fcd1b40ef","type":"comment","z":"fad25e8f.008bc","name":"Start/Stop Electric Blanket","info":"","x":170,"y":120,"wires":[]},{"id":"34072e43dc905023","type":"api-call-service","z":"fad25e8f.008bc","name":"OFF","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.wifi_plug_1_socket_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":260,"wires":[[]]},{"id":"8c5ddaf78166e078","type":"api-call-service","z":"fad25e8f.008bc","name":"ON","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.wifi_plug_1_socket_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":140,"wires":[[]]},{"id":"091de82822fa995e","type":"switch","z":"fad25e8f.008bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":200,"wires":[["2fb767e8385e851b","f48d550d5629996a"],[]]},{"id":"2fb767e8385e851b","type":"api-current-state","z":"fad25e8f.008bc","name":"Already On?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wifi_plug_1_socket_1, ","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":160,"wires":[["8c5ddaf78166e078"],[]]},{"id":"08720132ec0901ee","type":"inject","z":"fad25e8f.008bc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":510,"y":100,"wires":[["8c5ddaf78166e078"]]},{"id":"72fde8cb04b2b1e9","type":"api-current-state","z":"fad25e8f.008bc","name":"Already Off?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wifi_plug_1_socket_1, ","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":220,"wires":[["34072e43dc905023"],[]]},{"id":"a0888aaaf493de7c","type":"inject","z":"fad25e8f.008bc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":630,"y":420,"wires":[["34072e43dc905023"]]},{"id":"102690659b6aef24","type":"time-range-switch","z":"fad25e8f.008bc","name":"Only daytime and early night","lat":"-35.26789","lon":"149.1364","startTime":"05:00","endTime":"21:00","startOffset":0,"endOffset":"0","x":160,"y":260,"wires":[[],[]]},{"id":"f4e07658e138e3a1","type":"inject","z":"fad25e8f.008bc","name":"Turn off at 6 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["091de82822fa995e"]]},{"id":"f48d550d5629996a","type":"delay","z":"fad25e8f.008bc","name":"12h Delay","pauseType":"delay","timeout":"12","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":300,"wires":[["72fde8cb04b2b1e9"]]},{"id":"07e1ab07f45f5df2","type":"inject","z":"fad25e8f.008bc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":180,"wires":[["091de82822fa995e"]]},{"id":"766362871ca49fa0","type":"api-call-service","z":"c156c0babae29eff","name":"Restart SpeedTest","server":"d319611b.24f9e","version":1,"debugenabled":false,"service_domain":"speedtestdotnet","service":"speedtest","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":530,"y":200,"wires":[[]]},{"id":"9d4abb7a5d92f7f3","type":"debug","z":"c156c0babae29eff","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":280,"wires":[]},{"id":"e9e1e68568cb4d7a","type":"inject","z":"c156c0babae29eff","name":"Checking every 15 minutes","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":240,"y":129,"wires":[["6076d74d9e5e4e0f"]]},{"id":"3c3e561d761ee665","type":"comment","z":"c156c0babae29eff","name":"Restarts SpeedTest if down","info":"","x":210,"y":80,"wires":[]},{"id":"6076d74d9e5e4e0f","type":"api-current-state","z":"c156c0babae29eff","name":"Is Not Working?","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.speedtest_download","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":280,"y":200,"wires":[["766362871ca49fa0"],[]]},{"id":"e3648a22016d9be7","type":"api-call-service","z":"c156c0babae29eff","name":"Google Mini","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"tts","service":"tts.cloud_say","entityId":"media_player.family_room_display","data":"payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":609,"wires":[[]]},{"id":"e582c3b550850654","type":"debug","z":"c156c0babae29eff","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":700,"wires":[]},{"id":"974c4456310c2a6a","type":"api-current-state","z":"c156c0babae29eff","name":"Internet is down","server":"d319611b.24f9e","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lte","override_topic":false,"entity_id":"sensor.speedtest_ping","state_type":"num","state_location":"","override_payload":"msg","entity_location":"","override_data":"msg","blockInputOverrides":false,"x":200,"y":529,"wires":[["c94656ec76adb6ec","cd2e56ce50d0dfa9"],[]]},{"id":"f7beea1ba6577a49","type":"inject","z":"c156c0babae29eff","name":"Checking every 3 minute","props":[{"p":"payload"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":449,"wires":[["974c4456310c2a6a"]]},{"id":"cd2e56ce50d0dfa9","type":"change","z":"c156c0babae29eff","name":"Update Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"entity_id\":\"media_player.office_speaker\",\t   \"message\": \"Internet is down\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":609,"wires":[[]]},{"id":"c94656ec76adb6ec","type":"change","z":"c156c0babae29eff","name":"Update Message for iPhone","rules":[{"t":"set","p":"payload","pt":"msg","to":"    {\t   \"message\": \"Internet is down\" \t}\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["6f8883c139a925cc"]]},{"id":"b3004fb87d50aca0","type":"comment","z":"c156c0babae29eff","name":"If Internet down restarts modem","info":"","x":230,"y":400,"wires":[]},{"id":"6f8883c139a925cc","type":"api-call-service","z":"c156c0babae29eff","name":"Notify David","server":"d319611b.24f9e","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_david_bryants_iphone","entityId":"","data":"{\"message\":\"The internet is down\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":750,"y":500,"wires":[[]]}]